body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/green.png");
  width: 100%;
  height: 100%;
  margin: 0;
  background-size: contain;
  background-repeat: repeat-y;
}

.game-container {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.player-board {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  height: 40vh;
  width: 40vw;
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 7px;
}

.board-block {
  height: 9.5vh;
  width: 7vw;
  font-size: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color:black;
  border-radius: 7px;
}

.dice-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15vh;
  width: 50vw;
  background-color: rgba(0, 0, 0, 0.363);
  border-radius: 7px;
}
.dice-block{
  position: relative;
}
.dice-block, .dice-block > img {
  height: 10vh;
  width: 5vw;
  border-radius: 7px;
}
.game-logo{
  height: 45%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.current-round {
  font-size: 2.7rem;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

button {
font-size: 1rem;
height: 7%;
width: 12%;
margin-top: 30px;
font-weight: bold;
font-family: 'Ubuntu', sans-serif;
border-radius: 7px;
background-color: white;
opacity: 0.9;
}

button:hover {
  background-color: #f3fe7e;
}

#p0 {
  top:0;
  left:0;
}

#p1 {
  top:0;
  right:0;
}

#p2 {
  bottom:0;
  left: 0;
}

#p3 {
  bottom:0;
  right:0;
}

.round, .pass {
  justify-self: flex-start;
  position: absolute;
  top: 0;
}

.pass {
  top: 5vh;
}

.avoid-clicks {
  pointer-events: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33.33vh;
  width: 33.33vw;
  background-color: aqua;
}
